<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/alta.css}" rel="stylesheet" />
<!--    <link th:href="@{/css/styles.css}" rel="stylesheet" id="bootstrap-css" />-->
</head>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" style="color: black" class="form" th:action="@{/comprobacionalta}" th:object="${camionero}" method="post">
                            <h1 style="color: #2f2f2f">Altas.</h1>
                            <hr></hr>
                            <div class="form-group">
                                <label>Nombre</label>
                                </br>
                                <label class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></label>
                                <br/>
                                <input th:field="*{nombre}" type="text" class="form-control" style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat"/>
                            </div>
                            <div class="form-group">
                                <label>Apellidos</label>
                                <br/>
                                <label class="error" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></label>
                                <br/>
                                <input th:field="*{apellidos}" type="text" class="form-control" style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat"/>
                            </div>
                            <div class="form-group">
                                <label>Correo electrónico</label>
                                <br/>
                                <label class="error" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></label>
                                <br/>
                                <input th:field="*{correo}" type="text" class="form-control" style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat"/>
                            </div>
                            <div class="form-group">
                                <label>Teléfono</label>
                                <br/>
                                <label class="error" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></label>
                                <br/>
                                <input th:field="*{telefono}" type="text" class="form-control" style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat"/>
                            </div>
                            <div class="form-group">
                                <label>Fecha de nacimiento</label>
                                <br/>
                                <label class="error" th:if="${#fields.hasErrors('nacimiento')}" th:errors="*{nacimiento}"></label>
                                <br/>
                                <input th:field="*{nacimiento}" type="text" class="form-control" style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat"/>
                            </div>

                            <div class="form-group" style="margin-bottom: 4vh">
                                <label>Género</label>
                                <br/>
                                <label class="error" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></label>
                                <br/>
                                <div class="checkboxstyle">
                                    <input type="radio" th:field="*{genero}" value="Hombre">
                                    <label style="margin-right: 40px" th:for="${genero}">Hombre</label>
                                    <input type="radio" th:field="*{genero}" value="Mujer">
                                    <label th:for="${genero}">Mujer</label>
                                    <input style="margin-left: 40px" type="radio" th:field="*{genero}" value="No especificado">
                                    <label th:for="${genero}">Otro</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Se encuentra en plantilla actualmente</label>
                                <br/>
                                <label class="error" th:if="${#fields.hasErrors('contratadoActualmente')}" th:errors="*{contratadoActualmente}"></label>
                                <br/>
                                <div class="checkboxstyle">
                                    <input type="radio" th:field="*{contratadoActualmente}" value="Sí">
                                    <label style="margin-right: 40px" th:for="${contratadoActualmente}">Sí</label>
                                    <input type="radio" th:field="*{contratadoActualmente}" value="No">
                                    <label th:for="${contratadoActualmente}">No</label>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 4vh">
                                <label th:for="${transporteMercancias}">Transporte mercancías</label>
                                </br>
                                <label class="error" th:if="${#fields.hasErrors('transporteMercancias')}" th:errors="*{transporteMercancias}"></label>
                                <br/>
                                <div class="form-group">
                                    <select th:field="*{transporteMercancias}" style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat">
                                        <option value="Liquidas">Líquidas</option>
                                        <option value="Pallets">Pallets</option>
                                        <option value="Granel">Granel</option>
                                        <option value="Gases">Gases</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Comentarios</label>
                                <br/>
                                <label class="error" th:if="${#fields.hasErrors('comentarios')}" th:errors="*{comentarios}"></label>
                                <br/>
                                <textarea th:field="*{comentarios}" rows="5" cols="49" style="background-color: black; border-radius:0px; color: #90AEDA; font-family: Montserrat">Escribe aquí tus comentarios</textarea>
                            </div>

                            <div class="form-group" style="text-align:center; font-family: Montserrat;">
                                <input type="submit" style="background-color: #90AEDA; color: black; margin-top: 20px; border-radius: 0px; width: 100%" class="btn botonfin" value="Finalizar" />
                                <br/>
                            </div>
                        </form>
<!--                        <div class="form-group" style="text-align:center; font-family: Montserrat;">-->
<!--                            <a th:href="@{/}"><button style="text-align: center; border: 1px solid white; background-color: black; color: white; margin-top: 20px; border-radius: 0px;" class="btn botonvolver">Volver</button></a>-->
<!--                        </div>-->
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>